.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
}
