.scrollWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 30px;
}

.scrollContainer {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  gap: 20px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  /* z-index: 1; */
}
